html{
    padding: 10px;
}
.aladin-regular-h1 {
  font-family: "Aladin", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.aladin-regular-h2 {
  font-family: "Aladin", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.quicksand-day {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: aqua;
}
.aladin-regular-footer {
  font-family: "Aladin", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: aqua;
  border-radius: 10px;
}












.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}