html{
    padding: 10px;
}
.aladin-regular-h1 {
  font-family: "Aladin", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-shadow: 2px 2px aqua;
}
.aladin-regular-h2 {
  font-family: "Aladin", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: aqua;
}














.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}
